#content {
    margin: 0 auto;
    width: 1000px
}

#tabs ul {
    list-style: none;
}
#tabs ul li {
    display: inline-block;
}

#tabs ul li a {
    text-decoration: none;
}

#tabs-1 {
    display: grid;
    grid-template-columns: 30% 70%;
}

#tabs-2 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    cursor: pointer
}

.ui-tabs .ui-tabs-panel {
    border: 1px solid #000;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.ui-tabs div {
    padding: 10px;
}